{% extends 'home/base.html' %}

{% block head %}
    {% load static %}
    <link href="{% static 'diet/style.css' %}" rel="stylesheet" >
{% endblock %}
{% block body %}
<div class="padding-top"></div>
<div class="container-fluid">
    <div class="row justify-content-center">
    {% for diet in diets %}
        <div class="col-lg-3 col-12 diet-card">
            <div class="row diet-image">
                <img class="picture" src="{{ diet.image.url }}">
                <div class="layer">
                    <p>{{ diet.cut_context }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-3 profile-image">
                    <div class="row justify-content-center"><img class="profile-picture rounded-circle" src="{{ diet.author.profile.image.url }}"></div>
                </div>
                <div class="col-9">
                    <div class="row diet-title">
                        <h3><a href="{% url 'diet:detail' diet.id %}">{{ diet.name }}</a></h3>
                    </div>
                    <div class="row diet-author">
                        <a href="{{ diet.author.profile.get_absolute_url }}">{{ diet.author }}</a>
                    </div>
                    <div class="row diet-date">
                        <p>{{ diet.date }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <!-- PAGINATOR -->
    <div class="row justify-content-center">
        <nav aria-label="page-navigation">
            <ul class="pagination justify-content-center">
            {% if diets.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1"><span aria-hidden="true">&laquo;</span></a></li>
                <li class="page-item"><a class="page-link" href="?page={{ diets.previous_page_number }}"><span aria-hidden="true">&lsaquo;</span></a></li>
            {% endif %}
            
            {% for i in diets.paginator.page_range %}
                <li class="{% if diets.number == i %}active {% endif %}page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
            {% endfor %}

            {% if diets.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ diets.next_page_number }}"><span aria-hidden="true">&rsaquo;</span></a></li>
                <li class="page-item"><a class="page-link" href="?page={{ diets.paginator.num_pages }}"><span aria-hidden="true">&raquo;</span></a></li>
            {% endif %}
            </ul>
        </nav>
    </div>
</div>
<div class="padding-bottom"></div>
{% endblock %}